<DOCTYPE html>
<html>
<head>
    <title>Loop in template</title>
    <link rel="stylesheet" type="text/css" href="{{static_url("css/style.css")}}"/>
    <script src="{{static_url("js/jquery-1.10.2.js")}}"></script>
    <script src="{{static_url("js/jquery-ui-1.10.4.custom.min.js")}}"></script>
</head>
<body>
    <h1>Query Gene</h1>
    <hr>
    <br>
    <div>
    <form method="post" action="/query">
    <p><span class='word1'>POS:&nbsp;&nbsp;</span><input style="width:100px;" id="posstart" name="posstart" type="text">&nbsp;-&nbsp;<input style="width:100px;" id="posend" name="posend" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class='word1'>CHR:&nbsp;&nbsp;</span><input style="width:50px;" id="genechr" name="genechr" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class='word1'>VARTYPE:&nbsp;&nbsp;</span><input style="width:50px;" id="vartype" name="vartype" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class='word1'>REF:&nbsp;&nbsp;</span><input style="width:50px;" id="generef" name="generef" type="text"></p>
    <p><input class="button" id="search" name="search" type="submit" style="font-weight:bold;" value="SEARCH"></p>
    <span class="error" id="error"></span></p>
    </form>
    </div>
<script src="{{static_url("js/search.js")}}"></script>
</body>
</html>

