<DOCTYPE html>
<html>
<head>
    <title>Loop in template</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css')}}">
</head>
<body>
    <h1>{{info}}</h1>
    <h1>Please search gene</h1>
    <form method="post" action="/query">
    <p><b>POS:</b>start:<input id="posstart" name="posstart" type="text">,end:<input id="posend" name="posend" type="text"></p>
    <p><b>CHR:</b><input id="genechr" name="genechr" type="text"></p>
    <p><b>VARTYPE:</b><input id="vartype" name="vartype" type="text"></p>
    <p><b>REF:</b><input id="generef" name="generef" type="text"></p>
    <p><input id="query" name="query" type="submit" value="query gene as my condition"></p>
    </form>
</body>
</html>

